<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--MyBatis的总配置文件-->
<configuration>
    <!--类型依赖：配置Java类对应的别名，与Question.xml中的resultType相互对应-->
    <typeAliases>
        <!--通过纯XML的配置方式-->
        <typeAlias type="pers.hanchao.himybatis.hello.Question" alias="Question"/>
        <!--通过XML+IDao的配置方式，调用方式更方便-->
        <typeAlias type="pers.hanchao.himybatis.ihello.Problem" alias="Problem"/>
        <!--通过XML+IDAO的配置方式，实现单表的增删改查-->
        <typeAlias type="pers.hanchao.himybatis.curd.entity.Topic" alias="Topic"/>
        <!--一对多实例，通过collection标签进行关联-->
        <typeAlias type="pers.hanchao.himybatis.one2many.Person" alias="Person"/>
        <typeAlias type="pers.hanchao.himybatis.one2many.Experience" alias="Experience"/>
        <!--多对一实例-->
        <!--many2one包里的Person和Experience没有在这里配置，应为在Experience.xml里直接通过全类名进行的调用，而非别名-->
        <!--多对多实例-->
        <typeAlias type="pers.hanchao.himybatis.many2many.Student" alias="Student"/>
        <typeAlias type="pers.hanchao.himybatis.many2many.Course" alias="Course"/>
        <typeAlias type="pers.hanchao.himybatis.many2many.StudentCourse" alias="StudentCourse"/>
    </typeAliases>
    <!--mybatis的数据库连接-->
    <!--MyBatis的数据库连接配置交由Spring管理-->
    <!--<environments default="dev">-->
        <!--<environment id="dev">-->
            <!--&lt;!&ndash;事务管理&ndash;&gt;-->
            <!--<transactionManager type="JDBC"></transactionManager>-->
            <!--&lt;!&ndash;数据源信息&ndash;&gt;-->
            <!--<dataSource type="POOLED">-->
                <!--<property name="driver" value="com.mysql.jdbc.Driver"/>-->
                <!--<property name="url" value="jdbc:mysql://localhost:3306/exam?useSSL=false"/>-->
                <!--<property name="username" value="root"/>-->
                <!--<property name="password" value="1qaz@WSX"/>-->
            <!--</dataSource>-->
        <!--</environment>-->
    <!--</environments>-->
    <!--映射xml的路径配置-->
    <!--这里交给sqlSessionFactory 的 mapperLocations属性去得到所有配置信息-->
    <!--<mappers>-->
        <!--<mapper resource="mybatis-mappers/Question.xml"/>-->
        <!--<mapper resource="mybatis-mappers/Problem.xml"/>-->
        <!--<mapper resource="mybatis-mappers/Topic.xml"/>-->
        <!--&lt;!&ndash;一对多实例&ndash;&gt;-->
        <!--<mapper resource="mybatis-mappers/Person.xml"/>-->
        <!--&lt;!&ndash;多对一实例&ndash;&gt;-->
        <!--<mapper resource="mybatis-mappers/Experience.xml"/>-->
        <!--&lt;!&ndash;多对多实例&ndash;&gt;-->
        <!--<mapper resource="mybatis-mappers/Student.xml"/>-->
        <!--<mapper resource="mybatis-mappers/Course.xml"/>-->
        <!--<mapper resource="mybatis-mappers/StudentCourse.xml"/>-->
    <!--</mappers>-->
</configuration>