<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--MyBatis的总配置文件-->
<configuration>
    <!--类型依赖：配置Java类对应的别名，与Question.xml中的resultType相互对应-->
    <typeAliases>
        <!--通过纯XML的配置方式-->
        <typeAlias type="pers.hanchao.himybatis.hello.Question" alias="Question"/>
        <!--通过XML+IDao的配置方式，调用方式更方便-->
        <typeAlias type="pers.hanchao.himybatis.ihello.Problem" alias="Problem"/>
        <!--通过XML+IDAO的配置方式，实现单表的增删改查-->
        <typeAlias type="pers.hanchao.himybatis.curd.Topic" alias="Topic"/>
    </typeAliases>
    <!--mybatis的数据库连接-->
    <environments default="dev">
        <environment id="dev">
            <!--事务管理-->
            <transactionManager type="JDBC"></transactionManager>
            <!--数据源信息-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/exam?useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="1qaz@WSX"/>
            </dataSource>
        </environment>
    </environments>
    <!--映射xml的路径配置-->
    <mappers>
        <mapper resource="mybatis-mappers/Question.xml"/>
        <mapper resource="mybatis-mappers/Problem.xml"/>
        <mapper resource="mybatis-mappers/Topic.xml"/>
    </mappers>
</configuration>